<section id="countdown" class="c-fixed-countdown">
    <div class="o-container o-container--smaller">
      <svg class="c-curved c-curved-l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.72 49.35"><g data-name="Livello 2"><path d="M0 49.35l10.2-21.89a45.59 45.59 0 0 1 16.7-19A52.39 52.39 0 0 1 55.68 0h25v49.35z" fill="#1d0632" data-name="Livello 1"/></g></svg>
          <span>
          Accept ETH
          </span>
          <span>
          1 OVR = 0.1 &euro;
          </span>
          <span>
          
          </span>
        <div class="c-countdown_button only-d">
         <%- include('../partials/hex-button', {title: "Subscribe", big: false, blue: false, filled: false, outline: true, scroll_to:'whitelist'}) -%>
        </div>
        <div id="c-countdown_container" class="c-countdown_container">
        </div>
        <div class="c-countdown_button only-m">
        <%- include('../partials/hex-button', {title: "Subscribe", big: false, blue: false, filled: false, outline: true, scroll_to:'whitelist'}) -%>
       </div>
      <svg class="c-curved c-curved-r" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.72 49.35"><g data-name="Livello 2"><path d="M80.72 49.35L70.53 27.46a45.59 45.59 0 0 0-16.7-19A52.39 52.39 0 0 0 25 0H0v49.35z" fill="#1d0632" data-name="Livello 1"/></g></svg>
    </div>
</section>
