<section class="c-fixed-countdown">
    <div class="o-container">
          <span>
          Accept ETH
          </span>
          <span>
          1 OVR = 0.1 €
          </span>
          <span>
          Presale bonus 30%
          </span>
        <div class="c-countdown_button only-d">
         <%- include('../partials/hex-button', {title: "Subscribe", big: false, blue: false, filled: false, outline: true, scroll_to:'whitelist'}) -%>
        </div>
        <div id="c-countdown_container" class="c-countdown_container">
        </div>
        <div class="c-countdown_button only-m">
        <%- include('../partials/hex-button', {title: "Subscribe", big: false, blue: false, filled: false, outline: true, scroll_to:'whitelist'}) -%>
       </div>
    </div>
</section>
