      <div class="c-footer">
        <div class="c-footer__content">
          <div class="o-container">
            <div class="o-half">
              <div class="c-title c-title--secondary">
                  <h2>
                  Any question? Reach out to us and we’ll get back to you shortly.
                  </h2>
              </div>
              <div class="c-contact-info">
                <a href="#">
                  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="OVR---Homepage" transform="translate(-424.000000, -11837.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g id="phone" transform="translate(424.000000, 11834.000000)">
                                  <g id="noun_880089_cc" transform="translate(0.000000, 3.000000)">
                                      <path d="M19.9103262,15.9455844 L19.8054294,15.6424746 C19.5720786,14.9386999 18.8071322,14.2115919 18.0939675,14.0140372 L15.4633254,13.2989292 C14.7519386,13.1042634 13.7347511,13.36604 13.2160455,13.89026 L12.2573068,14.8384781 C8.80682534,13.907371 6.09862188,11.1927162 5.16632962,7.74050898 L6.11373413,6.78940201 C6.63132857,6.26807095 6.89201482,5.25274204 6.70311174,4.53674516 L5.98350212,1.9129788 C5.79170994,1.19898191 5.05765479,0.429207489 4.36360265,0.188097428 L4.06313563,0.0927645095 C3.36597214,-0.147012224 2.35545178,0.0956533858 1.84341331,0.617873334 L0.410416765,2.04142269 C0.163953804,2.2945327 0.00127491604,3.01319624 0.00127491604,3.01719622 C-0.0545070525,7.53384322 1.7222931,11.8860465 4.91986666,15.0793659 C8.10788394,18.2671298 12.4397649,20.0391221 16.9367695,19.9993445 C16.965216,19.9993445 17.7066051,19.8360119 17.9655134,19.5846796 L19.3842867,18.1622414 C19.9103262,17.6417992 20.1418991,16.6424702 19.9103262,15.9455844 Z" id="Shape"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </svg>
                  <span>+31 0123 4567</span>
                </a>

                <a href="#">
                  <svg width="23px" height="15px" viewBox="0 0 23 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="OVR---Homepage" transform="translate(-423.000000, -11903.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g id="mail" transform="translate(423.000000, 11898.000000)">
                                  <g id="noun_681630_cc" transform="translate(0.000000, 5.000000)">
                                      <g id="Group">
                                          <path d="M2.87500003,0 C2.21760253,0 1.61531878,0.212918182 1.13203128,0.5625 L11.0328125,9.38352818 C11.25528,9.58166455 11.74472,9.58166455 11.9671875,9.38352818 L21.8679688,0.5625 C21.3846813,0.212918182 20.7823975,0 20.125,0 L2.87500003,0 Z M0.377343779,1.38068182 C0.140587529,1.77739091 0,2.2371 0,2.72727273 L0,11.9999918 C0,12.5554555 0.177876279,13.0699827 0.476157529,13.5000191 L0.503182529,13.48311 L7.73559003,7.94331 L0.377401279,1.38081818 L0.377343779,1.38068182 Z M22.6226563,1.38068182 L15.2644675,7.94317364 L22.496875,13.4829736 L22.5239,13.4998827 C22.8221813,13.0698464 23.0000575,12.5553191 23.0000575,11.9998555 L23.0000575,2.72713636 C23.0000575,2.23696364 22.85947,1.77725455 22.6227138,1.38054545 L22.6226563,1.38068182 Z M8.58009253,8.69317364 L1.29375003,14.2755736 C1.74708003,14.5585555 2.28947753,14.7272918 2.87500003,14.7272918 L20.125,14.7272918 C20.7105225,14.7272918 21.25292,14.5585555 21.70625,14.2755736 L14.4199075,8.69317364 L12.7578125,10.1761282 C12.054185,10.80291 10.945815,10.80291 10.2421875,10.1761282 L8.58009253,8.69317364 Z" id="Shape"></path>
                                      </g>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </svg>
                  <span>info@ovr.com</span>
                </a>

                <a href="#">
                  <svg width="26px" height="22px" viewBox="0 0 26 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="OVR---Homepage" transform="translate(-421.000000, -11962.000000)" fill="#FFFFFF" fill-rule="nonzero">
                              <g id="telegram" transform="translate(421.000000, 11960.000000)">
                                  <g transform="translate(0.000000, 2.000000)" id="XMLID_497_">
                                      <path d="M0.459237285,10.5489201 L6.45016513,12.7219673 L8.7690215,19.9694169 C8.91739503,20.4335899 9.50144246,20.6051595 9.88910297,20.2971427 L13.2285473,17.6514156 C13.5785945,17.3742257 14.0771884,17.3604125 14.4430089,17.6184829 L20.4661768,21.8683064 C20.8808774,22.1612467 21.4683915,21.9404044 21.5723916,21.453406 L25.984684,0.827060382 C26.0982175,0.295084936 25.5603635,-0.14870522 25.0391495,0.0472059402 L0.452217276,9.26505343 C-0.154536852,9.49246536 -0.149250178,10.3273198 0.459237285,10.5489201 Z M8.39531434,11.5651987 L20.103823,4.55695282 C20.3142499,4.4313709 20.5307436,4.70788696 20.3500433,4.87078127 L10.6871307,13.60003 C10.3474836,13.9072888 10.1283899,14.3184833 10.0663365,14.7648002 L9.7371761,17.1354432 C9.69358271,17.4519669 9.23606878,17.4833834 9.14619533,17.1770511 L7.88025367,12.8541189 C7.73526015,12.3610562 7.94655376,11.834387 8.39531434,11.5651987 Z"></path>
                                  </g>
                              </g>
                          </g>
                      </g>
                  </svg>      
                  <span>Join us on Telegram</span>
                </a>
              </div>
            </div>
            <div class="o-half c-contact--holder">
            <img class="c-footer-hex-svg--form__svg" src="img/hexagon-footer-01.png">
              <div class="c-contact--content">
                <div class="c-title c-title--secondary">
                    <h2>
                    Get in touch
                    </h2>
                </div>
                <div class="c-contact--form">
                <div id="a-contant-form_contatti" class="o-copy-l">
                <div class="c-contact-form">
                  <div class="c-contact-form--content">
                        <form id="contact_form" action="<?php echo get_template_directory_uri();?>/mailer/mailer.php" class="c-contact-form c-general-contact-form" >
                          <div class="c-f">
                              <input type="text" class="name" name="name" placeholder="Name Surname">
                          </div>
                          <div class="c-f">
                            <input type="email" class="email" name="email" placeholder="Email">
                          </div>
                          <input type="hidden" class="ogg" name="oggetto" value="Contatto dalla pagina del corso: <?php echo get_the_title($parent);?> - <?php the_title();?>">
                          <div class="c-f">
                            <textarea name="" id="" class="msg" cols="30" rows="4" name="msg" placeholder="Your Message"></textarea>
                          </div>
                          <div class="c-f privacy-holder">
                            <input type="checkbox" name="privacy" value="Accept" class="privacy"> Acconsento che i miei dati siano trattati secondo quanto espresso in: <a href="/privacy-policy" target="_blank" style="color:#000"> Termini di servizio & Informativa Privacy</a><br>
                          </div>
                          <!-- <div id="captcha-contact" class="g-recaptcha captcha-holder" data-sitekey="6Lc1V20UAAAAAO9KUjYqx0CxIZP96-BHzQJsQgYz"></div> -->
                          <div class="c-f">
                          <input id="captcha-contact-submit" class="submit-button disabled-1 disabled-2" type="submit" value="Send" placeholder="">
                          </div>
                        </form>
                      </div>
                      <div class="c-contact-form--loader">
                        <div class="o-ball__loader-container">
                          <div class="o-ball__loader"><span></span></div>
                        </div>
                      </div>
                      <div id="overlay_form_thanks" class="c-contact-form--thanks-message">
                        <h3>Thank you for your message, we'll soon be in touch!</h3>
                      </div>
                      <div id="overlay_form_error" class="c-contact-form--error-message">
                        <h3>Please all form's input.</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-footer-hex-svg--container" smooth-parallax start-position-y="0" end-position-y="-0.1" container=".c-footer-section">
          <svg class="c-footer-hex-svg--purple" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 1921 1228" style="enable-background:new 0 0 1921 1228;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#1D0433;}
            .st1{fill:url(#SVGID_1_);}
            .st2{fill:url(#SVGID_2_);}
            .st3{opacity:0.45;fill:url(#SVGID_3_);enable-background:new    ;}
          </style>
          <g>
            <path class="st0" d="M1920,385.8l-665-283.2l-27.1-11.5c-6.4,7.1-14.3,12.9-23.4,16.8L1016.3,188l-29.7,12.7
              c-8.3,3.6-17.2,5.3-26.1,5.3c-8.9,0-17.8-1.8-26.1-5.3l-42.6-18.1l-175.3-74.6c-9.2-3.9-17.1-9.7-23.5-16.9l-3.1,1.3l-1.9,0.8
              L0,386.2V1225c0,1.1,0,2.1,0,3h1921c0-37.3,0-317.9,0-841.8L1920,385.8z"/>
            <path class="st0" d="M716.6,107.9l175.3,74.6l42.6,18.1c8.3,3.6,17.2,5.3,26.1,5.3c8.9,0,17.8-1.8,26.1-5.3l29.7-12.7l188.2-80.2
              c9.1-3.9,17.1-9.7,23.4-16.8l-47.8-20.4l-36.5-15.5c-1.6,0.9-3.2,1.8-4.9,2.6l-137.4,61.7l-21.7,9.7c-6.2,2.7-12.6,4.1-19.1,4.1
              c-6.5,0-13-1.4-19.1-4.1l-31.1-14L782.5,57.7c-1.7-0.8-3.4-1.7-5-2.6l-84.5,36C699.4,98.2,707.4,104.1,716.6,107.9z"/>
            
              <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="977.1116" y1="-5842.5161" x2="941.5861" y2="-6048.564" gradientTransform="matrix(1 0 0 -1 0 -5848)">
              <stop  offset="0" style="stop-color:#6B32C1"/>
              <stop  offset="0.996" style="stop-color:#C81D5E"/>
            </linearGradient>
            <path class="st1" d="M716.6,107.9l175.3,74.6l42.6,18.1c8.3,3.6,17.2,5.3,26.1,5.3c8.9,0,17.8-1.8,26.1-5.3l29.7-12.7l188.2-80.2
              c9.1-3.9,17.1-9.7,23.4-16.8l-47.8-20.4l-36.5-15.5c-1.6,0.9-3.2,1.8-4.9,2.6l-137.4,61.7l-21.7,9.7c-6.2,2.7-12.6,4.1-19.1,4.1
              c-6.5,0-13-1.4-19.1-4.1l-31.1-14L782.5,57.7c-1.7-0.8-3.4-1.7-5-2.6l-84.5,36C699.4,98.2,707.4,104.1,716.6,107.9z"/>
            <path class="st0" d="M1063.2,21c-9.1-3.9-18.4-7.2-27.8-10C1011,3.7,985.8,0,960.5,0c-35,0-69.9,7-102.7,21l-80.2,34.2
              c1.6,1,3.2,1.9,5,2.6l127.9,57.4l31.1,14c6,2.7,12.6,4.1,19.1,4.1c6.5,0,12.9-1.4,19.1-4.1l21.7-9.7l137.4-61.7
              c1.7-0.8,3.3-1.6,4.9-2.6l-67.7-28.8L1063.2,21z"/>
            
              <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="971.1985" y1="-5841.4966" x2="935.6729" y2="-6047.5449" gradientTransform="matrix(1 0 0 -1 0 -5848)">
              <stop  offset="0" style="stop-color:#6B32C1"/>
              <stop  offset="0.996" style="stop-color:#C81D5E"/>
            </linearGradient>
            <path class="st2" d="M1063.2,21c-9.1-3.9-18.4-7.2-27.8-10C1011,3.7,985.8,0,960.5,0c-35,0-69.9,7-102.7,21l-80.2,34.2
              c1.6,1,3.2,1.9,5,2.6l127.9,57.4l31.1,14c6,2.7,12.6,4.1,19.1,4.1c6.5,0,12.9-1.4,19.1-4.1l21.7-9.7l137.4-61.7
              c1.7-0.8,3.3-1.6,4.9-2.6l-67.7-28.8L1063.2,21z"/>
            
              <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="960.5701" y1="-5903.3154" x2="960.5701" y2="-5494.6768" gradientTransform="matrix(1 0 0 -1 0 -5848)">
              <stop  offset="0" style="stop-color:#4E4D4C"/>
              <stop  offset="0.1243" style="stop-color:#5A5858"/>
              <stop  offset="0.4661" style="stop-color:#747273"/>
              <stop  offset="0.7691" style="stop-color:#848183"/>
              <stop  offset="1" style="stop-color:#8A8789"/>
            </linearGradient>
            <path class="st3" d="M1063.2,21c-9.1-3.9-18.4-7.2-27.8-10C1011,3.7,985.8,0,960.5,0c-35,0-69.9,7-102.7,21l-80.2,34.2
              c1.6,1,3.2,1.9,5,2.6l127.9,57.4l31.1,14c6,2.7,12.6,4.1,19.1,4.1c6.5,0,12.9-1.4,19.1-4.1l21.7-9.7l137.4-61.7
              c1.7-0.8,3.3-1.6,4.9-2.6l-67.7-28.8L1063.2,21z"/>
          </g>
          </svg>

        </div>
      </div>
    </div>
  </body>

  <script src="js/application.js"></script>

</html>