<!DOCTYPE html>
<html class="no-js" lang="en">

  <head itemscope itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
    </title>
    <meta name="description">
    <link type="text/plain" rel="author" href="humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="css/application.css">
    <link rel="canonical" itemprop="url">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128415861-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128415861-1');
    </script>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <div id="page-wrap">
      <div class="c-mobile-nav__overlay">
        <div class="c-mobile-nav__container-main">
          <ul>
          <li>
            <a href="#features">Features</a>
          </li>
          <li>
            <a href="#ecosystem">Ecosystem</a>
          </li>
          <li>
            <a href="#technologies">Technologies</a>
          </li>
          <li>
            <a href="#whitelist">Subscribe</a>
          </li>
          <li>
            <a href="download/OVR_WhitePaper V1.0(EN).pdf" target="_blank">WhitePaper</a>
          </li>
        </ul>
        </div>
      </div>
      <div class="c-main-nav">
        <div class="o-container">
          <div class="c-main-nav_logo">
<svg width="547px" height="260px" viewBox="0 0 547 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="25.3143977%" y1="50.0000001%" x2="107.177686%" y2="50.0000001%" id="linearGradient-l1">
            <stop stop-color="#6B32C1" offset="0%"></stop>
            <stop stop-color="#C81D5E" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="1.41170549e-06%" y1="50.0000001%" x2="100%" y2="50.0000001%" id="linearGradient-l2">
            <stop stop-color="#EC663C" offset="0%"></stop>
            <stop stop-color="#F9B426" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="52.8856478%" y1="9.76544451%" x2="46.3537938%" y2="97.6233119%" id="linearGradient-l3">
            <stop stop-color="#0081DD" offset="0%"></stop>
            <stop stop-color="#0589E0" offset="19%"></stop>
            <stop stop-color="#11A0E9" offset="48%"></stop>
            <stop stop-color="#25C5F8" offset="84%"></stop>
            <stop stop-color="#2FD7FF" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="50%" y1="83.9677044%" x2="50%" y2="0.004847624%" id="linearGradient-l4">
            <stop stop-color="#4E4D4C" offset="0%"></stop>
            <stop stop-color="#5A5858" offset="12%"></stop>
            <stop stop-color="#747273" offset="47%"></stop>
            <stop stop-color="#848183" offset="77%"></stop>
            <stop stop-color="#8A8789" offset="100%"></stop>
        </linearGradient>
        <radialGradient cx="35.3656324%" cy="34.458356%" fx="35.3656324%" fy="34.458356%" r="66.3128289%" id="radialGradient-5">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#FEFEFE" stop-opacity="0.99" offset="21%"></stop>
            <stop stop-color="#FCFCFB" stop-opacity="0.96" offset="39%"></stop>
            <stop stop-color="#F9F9F6" stop-opacity="0.9" offset="55%"></stop>
            <stop stop-color="#F4F4EE" stop-opacity="0.82" offset="71%"></stop>
            <stop stop-color="#EDEEE5" stop-opacity="0.72" offset="85%"></stop>
            <stop stop-color="#E5E6D9" stop-opacity="0.6" offset="100%"></stop>
            <stop stop-color="#E5E6D9" stop-opacity="0.6" offset="100%"></stop>
        </radialGradient>
        <linearGradient x1="21.2540279%" y1="18.1668437%" x2="81.1895811%" y2="81.6673821%" id="linearGradient-l6">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.97" offset="14%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.89" offset="35%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.75" offset="61%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.57" offset="90%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.5" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="37.1289239%" y1="17.2857074%" x2="63.0250651%" y2="89.4691899%" id="linearGradient-l7">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.98" offset="12%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.92" offset="28%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.82" offset="45%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.67" offset="63%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.5" offset="82%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.3" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Untitled-1" fill-rule="nonzero">
            <g id="Group-2">
                <path d="M228.61,48.86 C225.663121,44.7711639 221.645915,41.5740079 217,39.62 L182.11,25 L127.46,2.13 C124.113548,0.723576241 120.519981,-0.000576788673 116.89,-3.44288054e-07 L116.89,163.31 L228.65,210.12 C231.987549,205.475237 233.781988,199.899533 233.78,194.18 L233.78,64.87 C233.78232,59.1225743 231.973309,53.5205862 228.61,48.86 Z" id="Shape" fill="url(#linearGradient-l1)"></path>
                <path d="M106.32,2.13 L19.79,38.37 L16.79,39.62 C6.61993699,43.888443 0.00230908859,53.840504 2.09638346e-15,64.87 L2.09638346e-15,194.18 C-0.00198805905,199.899533 1.79245121,205.475237 5.13,210.12 L116.89,163.31 L116.89,-3.44288054e-07 C113.260019,-0.000576788673 109.666452,0.723576241 106.32,2.13 Z" id="Shape" fill="url(#linearGradient-l2)"></path>
                <path d="M116.89,163.31 L5.13,210.12 C8.04706601,214.200924 12.0332432,217.398171 16.65,219.36 L88.65,250.02 L106.17,257.48 C113.018352,260.400241 120.761648,260.400241 127.61,257.48 L139.8,252.29 L217.14,219.36 C221.752298,217.395265 225.734522,214.198414 228.65,210.12 L116.89,163.31 Z" id="Shape" fill="url(#linearGradient-l3)"></path>
                <path d="M198.43,67.48 C196.334853,64.3706469 193.41605,61.9054183 190,60.36 L164.49,49.11 L124.61,31.48 C119.692686,29.307075 114.087314,29.307075 109.17,31.48 L46,59.4 L43.81,60.4 C40.3756209,61.9376139 37.4387156,64.403506 35.33,67.52 C32.8778133,71.1451297 31.5713411,75.4233906 31.58,79.8 L31.58,179.39 C31.5665374,183.765835 32.869661,188.044541 35.32,191.67 C37.4095706,194.770343 40.3170556,197.231322 43.72,198.78 L96.28,222.39 L109.06,228.14 C114.039785,230.379575 119.740215,230.379575 124.72,228.14 L133.61,224.14 L190.06,198.78 C193.462944,197.231322 196.370429,194.770343 198.46,191.67 C200.910339,188.044541 202.213463,183.765835 202.2,179.39 L202.2,79.8 C202.210792,75.4076648 200.896943,71.1141322 198.43,67.48 Z" id="Shape" fill="url(#linearGradient-l4)" opacity="0.45" style="mix-blend-mode: color-burn;"></path>
                <circle id="Oval" fill="url(#radialGradient-5)" cx="116.89" cy="129.46" r="55.11"></circle>
                <path d="M217,39.62 L182.11,25 L127.46,2.13 C120.699517,-0.710169582 113.080483,-0.710169582 106.32,2.13 L19.79,38.37 L16.79,39.62 C12.1385619,41.5692831 8.11694875,44.7671924 5.17,48.86 L116.89,96.44 L228.61,48.86 C225.663121,44.7711639 221.645915,41.5740079 217,39.62 Z" id="Shape" fill="url(#linearGradient-l6)" opacity="0.76" style="mix-blend-mode: soft-light;"></path>
                <path d="M228.61,48.86 L116.89,96.44 L116.89,259.670001 C120.574506,259.670884 124.221064,258.925925 127.61,257.48 L139.8,252.29 L217.14,219.36 C227.231393,215.059572 233.780385,205.149499 233.78,194.18 L233.78,64.87 C233.78232,59.1225743 231.973309,53.5205862 228.61,48.86 Z" id="Shape" fill="url(#linearGradient-l7)" style="mix-blend-mode: soft-light;"></path>
            </g>
            <g id="Group" class="main-logo-letters" transform="translate(318.000000, 90.000000)" fill="#1D1D1B">
                <path d="M39.9915229,15.6260008 C49.8689128,15.6206846 58.7766672,21.5665896 62.5602648,30.6905826 C66.3438625,39.8145756 64.2579995,50.3193864 57.2755094,57.3056366 C50.2930194,64.2918867 39.789333,66.3834048 30.6633044,62.6047196 C21.5372758,58.8260345 15.5865761,49.9214824 15.5865747,40.0440911 C15.601046,26.5694802 26.5169217,15.6477263 39.9915229,15.6260008 Z M39.9915229,0 C17.8826484,0.0290238183 -0.019327205,17.9702057 1.56600342e-05,40.0790908 C0.0193585251,62.187976 17.9526999,80.0978059 40.0615913,80.088144 C62.1704828,80.078482 80.0881636,62.1529847 80.0881826,40.0440911 C80.0881838,17.9334816 62.167842,0.00725651774 40.0572336,1.86760998e-14 L39.9915229,0 Z" id="Shape"></path>
                <path d="M140.08585,46.874441 C137.62827,51.3690518 133.633061,57.6772775 131.175481,61.9878984 L114.839805,35.3882133 C106.855991,22.4035481 94.5025874,12.6923093 80,8 L118.940152,71.9233539 C121.774473,76.2405058 126.576361,78.8583726 131.740593,78.9018286 C134.34226,78.9200603 136.893645,78.1852249 139.087048,76.7859445 C141.281784,75.392878 141.715475,76.4573911 153.793099,54.4443118 C155.895841,50.6068078 158.064293,46.6510246 158.550552,45.82307 C160.545134,42.4854843 162.879312,39.3629719 165.515885,36.5052949 L165.515885,16.0035614 C157.224427,21.6855011 150.272633,29.1082231 145.145573,37.7537979 C144.541034,38.7657425 142.911409,41.696439 140.08585,46.874441 Z" id="Shape"></path>
                <path d="M198.17318,5.30942331 C196.63555,5.53283964 195.111062,5.80882451 193.626001,6.11109366 L193.626001,0 L178,0 L178,80.0750401 L193.626001,80.0750401 L193.626001,22.0525057 C204.044062,19.5150347 214.88578,19.2461206 225.41683,21.2639775 L228.886354,6.08480939 C218.765293,4.09907541 208.381548,3.83692694 198.17318,5.30942331 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>
          </div>
          <div class="c-main-nav_menu">
              <!-- <ul>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#">TokenSale</a>
                </li>
                <li>
                  <a href="#">Bounty</a>
                </li>
                <li>
                  <a href="download/OVR_WhitePaper V1.0(EN).pdf" target="_blank">WhitePaper</a>
                </li>
                <li>
                  <a href="#">Telegram</a>
                </li>
              </ul> -->
              <ul>
                <li>
                  <a href="#features">Features</a>
                </li>
                <li>
                  <a href="#ecosystem">Ecosystem</a>
                </li>
                <li>
                  <a href="#technologies">Technologies</a>
                </li>
                <li>
                  <a href="#whitelist">Subscribe</a>
                </li>
                <li>
                  <a href="download/OVR_WhitePaper V1.0(EN).pdf" target="_blank">WhitePaper</a>
                </li>
              </ul>
          </div>
          <div class="c-main-nav_buttons" style="display:none;">
              <%- include('../partials/hex-button', {title: "Singup", big: false, blue: true, filled: true}) -%>
              <%- include('../partials/hex-button', {title: "Log in", big: false, blue: true, outline: false}) -%>
          </div>
            <div id="hamburger-menu">
                <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="30" height="30" preserveAspectratio="xMinYMin">
                    <g class="lines">
                    <line class="firstline" x1="0" y1="2" x2="25" y2="2"/>
                    <line class="lastline" x1="0" y1="18" x2="25" y2="18"/>
                    <line class="middleline" x1="0" y1="10" x2="25" y2="10"/>
                    </g>
                </svg>
            </div>
        </div>
      </div>





