<!DOCTYPE html>
<html class="no-js" lang="it">

  <head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
    </title>
    <meta name="description">
    <link type="text/plain" rel="author" href="humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="css/application.css">
    <link rel="canonical" itemprop="url">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128415861-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128415861-1');
    </script>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <div id="page-wrap">
      <div class="c-mobile-nav__overlay">
        <div class="c-mobile-nav__container-main">
          <ul>
          <li>
            <a href="#features">Features</a>
          </li>
          <li>
            <a href="#ecosystem">Ecosystem</a>
          </li>
          <li>
            <a href="#technologies">Technologies</a>
          </li>
          <li>
            <a href="#whitelist">Subscribe</a>
          </li>
          <li>
            <a href="download/OVR_WhitePaperV0.62e(EN).pdf" target="_blank">WhitePaper</a>
          </li>
        </ul>
        </div>
      </div>
      <div class="c-main-nav">
        <div class="o-container">
          <div class="c-main-nav_logo">
            <img src="img/ovr_logo.png" alt="Ovr">
          </div>
          <div class="c-main-nav_menu">
              <!-- <ul>
                <li>
                  <a href="#">FAQ</a>
                </li>
                <li>
                  <a href="#">TokenSale</a>
                </li>
                <li>
                  <a href="#">Bounty</a>
                </li>
                <li>
                  <a href="download/OVR_WhitePaperV0.62e(EN).pdf" target="_blank">WhitePaper</a>
                </li>
                <li>
                  <a href="#">Telegram</a>
                </li>
              </ul> -->
              <ul>
                <li>
                  <a href="#features">Features</a>
                </li>
                <li>
                  <a href="#ecosystem">Ecosystem</a>
                </li>
                <li>
                  <a href="#technologies">Technologies</a>
                </li>
                <li>
                  <a href="#whitelist">Subscribe</a>
                </li>
                <li>
                  <a href="download/OVR_WhitePaperV0.62e(EN).pdf" target="_blank">WhitePaper</a>
                </li>
              </ul>
          </div>
          <div class="c-main-nav_buttons" style="display:none;">
              <%- include('../partials/hex-button', {title: "Singup", big: false, blue: true, filled: true}) -%>
              <%- include('../partials/hex-button', {title: "Log in", big: false, blue: true, outline: false}) -%>
          </div>
            <div id="hamburger-menu">
                <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" width="30" height="30" preserveAspectratio="xMinYMin">
                    <g class="lines">
                    <line class="firstline" x1="0" y1="2" x2="25" y2="2"/>
                    <line class="lastline" x1="0" y1="18" x2="25" y2="18"/>
                    <line class="middleline" x1="0" y1="10" x2="25" y2="10"/>
                    </g>
                </svg>
            </div>
        </div>
      </div>





