<% if(icon == undefined){ var icon = false}  %>
<% if(filled == undefined){ var filled = false}  %>
<% if(outline == undefined){ var outline = true}  %>
<% if(blue == undefined){ var blue = true}  %>
<% if(violet == undefined){ var violet = true}  %>
<% if(scroll_to == undefined){ var scroll_to = 'no'}  %>

<a <% if(scroll_to != 'no' ){ %>data-scroll href="#<%- scroll_to %>" <%}%> <%if (icon != false) { %> href="download/OVR_WhitePaper V1.71(EN).pdf" target="_blank" <%}%>  class="c-hex-button<%if (big == true) { %> c-hex-button--big<%}%> <%if (blue == true) { %> c-hex-button--blue<%}%> <%if (filled == true) { %> c-hex-button--filled<%}%> <%if (outline == false) { %> c-hex-button--no-outline<%}%>">
    <%if (icon != false) { %>  <%- icon %> <%}%>
    <span><%= title %></span>

    <div class="c-hex-button_svg">
        <svg class="c-hex-svg" width="173px" height="62px" viewBox="0 0 173 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <linearGradient id="blue-gradient" x2="1" y2="1">
                <stop offset="0%" stop-color="#0081DD" />
                <stop offset="100%" stop-color="#2FD7FF" />
            </linearGradient>
            <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OVR---Homepage" transform="translate(-525.000000, -544.000000)" stroke="#FFFFFF">
                    <g id="Group-4" transform="translate(330.000000, 545.000000)">
                        <g id="Group-3">
                            <path d="M206.463736,1.62234865 C205.885795,2.18091139 205.394545,2.86718853 205.023933,3.65513637 C204.922847,3.86999708 204.830677,4.09249562 204.748283,4.32200593 L201.973308,12.0438446 L201.522879,13.2968232 L196.469228,27.3596824 C196.156409,28.2300185 196,29.1554472 196,30.0807506 C196,31.006054 196.156409,31.9313575 196.469228,32.8018188 L204.471559,55.0697029 L204.748283,55.8394953 C204.817571,56.0326946 204.894702,56.2202595 204.977311,56.4031916 C205.00696,56.4685513 205.037361,56.533285 205.068513,56.5973926 C205.101493,56.6650061 205.135224,56.7317432 205.169922,56.797729 C205.446646,57.3243631 205.778156,57.801414 206.154892,58.2192404 C206.353948,58.4398608 206.565359,58.6443291 206.787511,58.8310175 C207.79547,59.6780646 209.024722,60.161376 210.321544,60.161376 L352.13515,60.161376 C353.425742,60.161376 354.649837,59.6825721 355.655433,58.8424117 C356.537276,58.1058 357.251215,57.0914721 357.694554,55.8779348 L364.464947,37.3474502 L366.111756,32.8401331 C366.433813,31.9586533 366.594841,31.0197019 366.594841,30.0807506 C366.594841,29.4023617 366.509439,28.7243484 366.341428,28.0676209 C366.276759,27.8153223 366.201133,27.5659036 366.111756,27.3212428 L365.874994,26.6734052 L364.965435,24.1839759 L357.694554,4.2835664 C357.251215,3.07002907 356.537276,2.05570118 355.655433,1.31896432 C354.649837,0.478803832 353.425742,0 352.13515,0 L210.321544,0 C209.024722,0 207.795577,0.4833114 206.787511,1.33048366 C206.676865,1.42338964 206.568904,1.52080318 206.463736,1.62234865 Z" id="Fill-1-Copy"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</a>
