<section class="c-download-section">

    <div class="o-container">
        <div class="o-half">
            <div id="whitelist" class="c-download-section__content">
                <div class="c-title c-title--secondary">
                    <h2>
                    Subscribe our <b>Whitelist</b>
                    </h2>
                </div>
                <div class="c-copy">
                Pre-qualified users are getting a chance to participate in OVR Pre-SALE with a 30% discount.
                </div>
                <div class="c-download-section__subscribe_holder">
<!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup">
<form action="https://ovr.us19.list-manage.com/subscribe/post?u=a9cfe61513e761abc6fda75e6&amp;id=5d46901054" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll_1">

<div class="mc-field-group">
</label>
	<input type="email" placeholder="email@address.it" name="EMAIL" class="required email" id="mce-EMAIL-1">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a9cfe61513e761abc6fda75e6_5d46901054" tabindex="-1" value=""></div>
    <div class="clear">
    <a class="c-hex-button js-mailchimp-submit  c-hex-button--blue  c-hex-button--filled ">
        Subscribe
        <div class="c-hex-button_svg">
            <svg class="c-hex-svg" width="173px" height="62px" viewBox="0 0 173 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <linearGradient id="blue-gradient" x2="1" y2="1">
                    <stop offset="0%" stop-color="#0081DD"></stop>
                    <stop offset="100%" stop-color="#2FD7FF"></stop>
                </linearGradient>
                <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="OVR---Homepage" transform="translate(-525.000000, -544.000000)" stroke="#FFFFFF">
                        <g id="Group-4" transform="translate(330.000000, 545.000000)">
                            <g id="Group-3">
                                <path id="download-path-1" d="M206.463736,1.62234865 C205.885795,2.18091139 205.394545,2.86718853 205.023933,3.65513637 C204.922847,3.86999708 204.830677,4.09249562 204.748283,4.32200593 L201.973308,12.0438446 L201.522879,13.2968232 L196.469228,27.3596824 C196.156409,28.2300185 196,29.1554472 196,30.0807506 C196,31.006054 196.156409,31.9313575 196.469228,32.8018188 L204.471559,55.0697029 L204.748283,55.8394953 C204.817571,56.0326946 204.894702,56.2202595 204.977311,56.4031916 C205.00696,56.4685513 205.037361,56.533285 205.068513,56.5973926 C205.101493,56.6650061 205.135224,56.7317432 205.169922,56.797729 C205.446646,57.3243631 205.778156,57.801414 206.154892,58.2192404 C206.353948,58.4398608 206.565359,58.6443291 206.787511,58.8310175 C207.79547,59.6780646 209.024722,60.161376 210.321544,60.161376 L352.13515,60.161376 C353.425742,60.161376 354.649837,59.6825721 355.655433,58.8424117 C356.537276,58.1058 357.251215,57.0914721 357.694554,55.8779348 L364.464947,37.3474502 L366.111756,32.8401331 C366.433813,31.9586533 366.594841,31.0197019 366.594841,30.0807506 C366.594841,29.4023617 366.509439,28.7243484 366.341428,28.0676209 C366.276759,27.8153223 366.201133,27.5659036 366.111756,27.3212428 L365.874994,26.6734052 L364.965435,24.1839759 L357.694554,4.2835664 C357.251215,3.07002907 356.537276,2.05570118 355.655433,1.31896432 C354.649837,0.478803832 353.425742,0 352.13515,0 L210.321544,0 C209.024722,0 207.795577,0.4833114 206.787511,1.33048366 C206.676865,1.42338964 206.568904,1.52080318 206.463736,1.62234865 Z" id="Fill-1-Copy"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </a>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
                </div>
            </div>
            <svg version="1.1" class="c-download-section__hex-bg"
            smooth-parallax start-position-y="-0.2" end-position-y="0" container=".c-download-section"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            x="0px" y="0px" width="1821px" height="1531px" viewBox="0 0 1821 1531" style="enable-background:new 0 0 1821 1531;"
            xml:space="preserve">
            <style type="text/css">
            .st0{fill:#FFFFFF;}
            </style>
            <defs>
            </defs>
            <path  class="st0" d="M1478.4,1497.1c7-4.7,13.7-9.9,20-15.5c3.2-2.8,6.2-5.7,9.1-8.7c8.8-9,16.8-18.9,23.5-29.6
            c3.4-5.4,6.5-10.9,9.3-16.6c0.9-1.9,1.8-3.8,2.7-5.8l102.4-228.4l22.4-50l138.1-307.9c9.9-22.1,14.9-45.7,14.9-69.2
            s-5-47.1-14.9-69.2l-254.2-566.7l-6.5-14.6l-2.3-5c-0.6-1.4-1.3-2.8-2-4.2c-13.2-27.4-33.1-50.6-57.6-68.3c-1.7-1.2-3.5-2.5-5.2-3.6
            c-32-21.6-71.1-33.9-112.2-33.9H459.3c-41,0-79.9,12.2-111.8,33.6c-28,18.7-50.7,44.6-64.8,75.4l-215,471.6L15.3,695.3
            C5.1,717.7,0,741.6,0,765.5c0,17.3,2.7,34.5,8.1,51.2c2.1,6.4,4.5,12.8,7.3,19l4,8.7l32.5,71.2L282.7,1422
            c14.1,30.9,36.8,56.7,64.8,75.4c31.9,21.4,70.8,33.6,111.8,33.6h906.8C1407.3,1531,1446.3,1518.7,1478.4,1497.1"/>
            </svg>
        </div>
        <div class="o-half o-mvp-half" >
        <div id="mvp" class="c-download-section__content">
            <div class="c-title c-title--secondary">
                <h2>
                Download the <b>Demo</b>
                </h2>
            </div>
            <div class="c-copy">
                Pre-qualified users are getting a chance to try our demo.
            </div>
            <div class="c-download-section__buttons-holder">
                <img src="img/apple_store.png">
                <img src="img/android_store.png">
            </div>
            <!-- 
                <div id="mc_embed_signup">
                
                <form action="https://ovr.us19.list-manage.com/subscribe/post?u=a9cfe61513e761abc6fda75e6&amp;id=d062da9970" method="post" id="mc-embedded-subscribe-form-2" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">

                <div class="mc-field-group">
                </label>
                  <input type="email" placeholder="email@address.it" name="EMAIL" class="required email" id="-1">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>  
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a9cfe61513e761abc6fda75e6_d062da9970" tabindex="-1" value=""></div>
                    <div class="clear">
                    
                    <a class="c-hex-button js-mailchimp-submit  c-hex-button--blue  c-hex-button--filled ">
                        Subscribe
                        <div class="c-hex-button_svg">
                            <svg class="c-hex-svg" width="173px" height="62px" viewBox="0 0 173 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <linearGradient id="blue-gradient" x2="1" y2="1">
                                    <stop offset="0%" stop-color="#0081DD"></stop>
                                    <stop offset="100%" stop-color="#2FD7FF"></stop>
                                </linearGradient>
                                <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="OVR---Homepage" transform="translate(-525.000000, -544.000000)" stroke="#FFFFFF">
                                        <g id="Group-4" transform="translate(330.000000, 545.000000)">
                                            <g id="Group-3">
                                                <path id="download-path-2" d="M206.463736,1.62234865 C205.885795,2.18091139 205.394545,2.86718853 205.023933,3.65513637 C204.922847,3.86999708 204.830677,4.09249562 204.748283,4.32200593 L201.973308,12.0438446 L201.522879,13.2968232 L196.469228,27.3596824 C196.156409,28.2300185 196,29.1554472 196,30.0807506 C196,31.006054 196.156409,31.9313575 196.469228,32.8018188 L204.471559,55.0697029 L204.748283,55.8394953 C204.817571,56.0326946 204.894702,56.2202595 204.977311,56.4031916 C205.00696,56.4685513 205.037361,56.533285 205.068513,56.5973926 C205.101493,56.6650061 205.135224,56.7317432 205.169922,56.797729 C205.446646,57.3243631 205.778156,57.801414 206.154892,58.2192404 C206.353948,58.4398608 206.565359,58.6443291 206.787511,58.8310175 C207.79547,59.6780646 209.024722,60.161376 210.321544,60.161376 L352.13515,60.161376 C353.425742,60.161376 354.649837,59.6825721 355.655433,58.8424117 C356.537276,58.1058 357.251215,57.0914721 357.694554,55.8779348 L364.464947,37.3474502 L366.111756,32.8401331 C366.433813,31.9586533 366.594841,31.0197019 366.594841,30.0807506 C366.594841,29.4023617 366.509439,28.7243484 366.341428,28.0676209 C366.276759,27.8153223 366.201133,27.5659036 366.111756,27.3212428 L365.874994,26.6734052 L364.965435,24.1839759 L357.694554,4.2835664 C357.251215,3.07002907 356.537276,2.05570118 355.655433,1.31896432 C354.649837,0.478803832 353.425742,0 352.13515,0 L210.321544,0 C209.024722,0 207.795577,0.4833114 206.787511,1.33048366 C206.676865,1.42338964 206.568904,1.52080318 206.463736,1.62234865 Z" id="Fill-1-Copy"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </a>

                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                </div> -->

                <iframe id="iframe-mc" src="../mailchimp-2.html" frameborder="0" width="654" height="200"></iframe>
        </div>
        <svg version="1.1" class="c-download-section__hex-bg"
        smooth-parallax start-position-y="-0.2" end-position-y="0" container=".c-download-section"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="1821px" height="1531px" viewBox="0 0 1821 1531" style="enable-background:new 0 0 1821 1531;"
        xml:space="preserve">
        <style type="text/css">
        .st0{fill:#FFFFFF;}
        </style>
        <defs>
        </defs>
        <path  class="st0" d="M1478.4,1497.1c7-4.7,13.7-9.9,20-15.5c3.2-2.8,6.2-5.7,9.1-8.7c8.8-9,16.8-18.9,23.5-29.6
        c3.4-5.4,6.5-10.9,9.3-16.6c0.9-1.9,1.8-3.8,2.7-5.8l102.4-228.4l22.4-50l138.1-307.9c9.9-22.1,14.9-45.7,14.9-69.2
        s-5-47.1-14.9-69.2l-254.2-566.7l-6.5-14.6l-2.3-5c-0.6-1.4-1.3-2.8-2-4.2c-13.2-27.4-33.1-50.6-57.6-68.3c-1.7-1.2-3.5-2.5-5.2-3.6
        c-32-21.6-71.1-33.9-112.2-33.9H459.3c-41,0-79.9,12.2-111.8,33.6c-28,18.7-50.7,44.6-64.8,75.4l-215,471.6L15.3,695.3
        C5.1,717.7,0,741.6,0,765.5c0,17.3,2.7,34.5,8.1,51.2c2.1,6.4,4.5,12.8,7.3,19l4,8.7l32.5,71.2L282.7,1422
        c14.1,30.9,36.8,56.7,64.8,75.4c31.9,21.4,70.8,33.6,111.8,33.6h906.8C1407.3,1531,1446.3,1518.7,1478.4,1497.1"/>
        </svg>
    </div>
    </div>

    <svg class="c-hero_svg-mask c-hero_svg-mask--timeline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 517"><style></style><path d="M0 0l683 302.6 171.6 74.7c33.6 14.6 69.3 21.9 105.1 21.9 25.8 0 51.6-3.9 76.6-11.5 9.6-2.9 19.1-6.4 28.4-10.4l13-5.7 106.5-46.4L1920 0v517H0V0z" fill="#fff"/></svg>

</section>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
