<section class="c-ecosystem-section">
  <div class="o-container" >
    <div class="c-ecosystem-section_content-container">
      <div class="c-title c-title--secondary">
          <h2>
          Our <b>Ecosystem</b>
          </h2>
      </div>
      <img id="ecosystem" src="img/ecosystem.png">
    </div>
    <div class="c-ecosystem-hex-svg--container" smooth-parallax start-position-y="0" end-position-y="-0.1" container=".c-ecosystem-section">
      <svg class="c-ecosystem-hex-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
              <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
          </g>
        </g>
      </svg>
    </div>
  </div>

      <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In  -->
    <svg class="c-ecosystem-hex-svg--purple" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
      x="0px" y="0px" width="1531px" height="868.1px" viewBox="0 0 1531 868.1" style="enable-background:new 0 0 1531 868.1;"
      xml:space="preserve">
      <g>
      <path class="st0-eco" d="M0,408.8c0,14.5,1.5,35.4,8.8,59.3c5.7,18.8,14.1,36.5,24.8,52.5c18.7,28,44.6,50.7,75.4,64.8l471.6,215
      l114.7,52.3c22.4,10.2,46.3,15.3,70.2,15.3c17.3,0,34.5-2.7,51.2-8.1c6.4-2.1,12.8-4.5,19-7.3l8.7-4l71.2-32.5L1422,585.4
      c30.9-14.1,56.7-36.8,75.4-64.8c21.4-31.9,33.6-70.8,33.6-111.8c0-70.8,0-236.2,0-408.8H0C0,190.6,0,371.2,0,408.8z"/>
      </g>
    </svg>
   
</section>