<section class="c-hero">
    <div class="o-container">
        <div class="c-hero_content">
            <div class="c-title">
                <h1>The decentralized world scale <br><span> augmented reality</span> platform</h1>
            </div>
            <div class="c-subtitle">
                <h3>OVR is a worldwide, open-source, AR platform <br>powered by the Ethereum Blockchain.</h3>
            </div>
            <div class="c-hero_buttons">
                <%- include('../partials/hex-button', {title: "Subscribe Whitelist", big: true, blue: true, filled: true, scroll_to:'whitelist' }) -%>
                <%- include('../partials/hex-button', {title: "Whitepaper", big: true, blue: false, filled: false, icon: "<svg version='1.1' class='c-hex-button__icon' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><g transform='translate(-562 -567)' fill='#fff' fill-rule='nonzero'><g transform='translate(330 545)'><g transform='translate(232 22)'><path d='m11.559 3.0846l-2.6219-2.6168c-0.28125-0.2807-0.6625-0.43977-1.0594-0.43977h-6.3781c-0.82812 0.0031189-1.5 0.67368-1.5 1.5002v12.975c0 0.82651 0.67188 1.4971 1.5 1.4971h9c0.82812 0 1.5-0.67057 1.5-1.4971v-10.358c0-0.3961-0.15938-0.77973-0.44062-1.0604zm-0.70625 0.70799c0.065625 0.065497 0.10938 0.14347 0.13125 0.2308h-2.9844v-2.9786c0.0875 0.021832 0.16562 0.065497 0.23125 0.13099l2.6219 2.6168zm-0.35312 11.209h-9c-0.275 0-0.5-0.22456-0.5-0.49903v-12.975c0-0.27446 0.225-0.49903 0.5-0.49903h5.5v3.2437c0 0.41481 0.33438 0.74854 0.75 0.74854h3.25v9.4815c0 0.27446-0.225 0.49903-0.5 0.49903zm-0.6875-5.3396c-0.42188-0.41481-1.7188-0.28694-2.3031-0.20897-0.6625-0.39922-1.1-0.94815-1.4094-1.7653 0.13438-0.5614 0.375-1.4721 0.2-2.0242-0.1375-0.87641-1.2406-0.77037-1.3938-0.21209-0.15625 0.57076-0.009375 1.3848 0.2625 2.4265-0.37188 0.88577-0.92812 2.0865-1.3156 2.7634-0.65 0.33372-1.6906 0.91384-1.8375 1.6343-0.10938 0.52398 0.71562 1.2288 1.6594 0.19961 0.28438-0.30877 0.60312-0.77349 0.97812-1.4191 0.83438-0.27446 1.7531-0.61754 2.5625-0.74854 0.68438 0.37427 1.4875 0.62066 2.0188 0.62066 0.86562 0.0031189 0.90312-0.94191 0.57812-1.2663zm-7.1625 2.7758c0.18438-0.49591 0.89375-1.0729 1.1094-1.2725-0.69062 1.101-1.1094 1.2943-1.1094 1.2725zm2.975-6.9333c0.27188 0 0.24375 1.1696 0.065625 1.4846-0.1625-0.50838-0.15625-1.4846-0.065625-1.4846zm-0.8875 4.9684c0.35312-0.61754 0.65625-1.3474 0.9-1.9867 0.30312 0.55205 0.69062 0.98869 1.0969 1.2943-0.75938 0.14659-1.4188 0.47096-1.9969 0.6924zm4.7938-0.18402s-0.18125 0.21832-1.3594-0.28382c1.2812-0.093567 1.4906 0.19961 1.3594 0.28382z'/></g></g></g></g></svg>"}) -%>
            </div>
            <a class="c-hero__scrolldown" href="#intro" smooth-parallax start-position-y="-5" end-position-y="0.5" container=".c-hero">
                <div class="mouse">
                    <div class="mouse-in"></div>
                </div>
                <div class="arrow-container">
                    <span class="down-arrow-1"></span>
                    <span class="down-arrow-2"></span>
                    <span class="down-arrow-3"></span>
                </div>
                <svg class="c-hex-svg c-hex-svg--blue" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <linearGradient id="light-blue-gradient" x2="1" y2="1">
                            <stop offset="0%" stop-color="#0081DD" />
                            <stop offset="100%" stop-color="#2FD7FF" />
                        </linearGradient>
                        <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
                        <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
                            <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                            <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                            <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
                            <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
                            <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
                            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                    </defs>
                    <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
                            <g id="Fill-1-Copy-6">
                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <svg class="c-hero_svg-mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 517"><style></style><path d="M0 0l683 302.6 171.6 74.7c33.6 14.6 69.3 21.9 105.1 21.9 25.8 0 51.6-3.9 76.6-11.5 9.6-2.9 19.1-6.4 28.4-10.4l13-5.7 106.5-46.4L1920 0v517H0V0z" fill="#fff"/></svg>
    <video preload="true" autoplay loop playsinline allow="autoplay" muted>
        <source src="video/ovr.mp4" type="video/mp4">
        <source src="video/ovr.webm" type="video/webm">
    </video>

</section>
