<section class="c-second-section">
    <div class="o-container" id="intro">
        <div class="o-half">
            <!-- <img src="img/01.png" alt=""> 
            <%- include('../partials/secnd-s-svg') -%> -->
            <svg data-url='/svg/secnd-s.svg'></svg>

        </div>
        <div class="o-half">
            <div class="c-title c-title--secondary">
                <h2>
                A cutting edge AR platform<br>
                powered by the <span>Ethereum Blockchain</span>
                </h2>
            </div>
            <div class="c-copy">
                OVR makes it possible for users provided with a mobile device or a smart glass to live interactive augmented reality experiences customized in the real world. <br><br>
                OVR can be defined as a new standard in augmented reality where geographical experiences are based on user's position.
            </div>
            <%- include('../partials/hex-cta', {title: "Features", subtitle: "Learn More About", scroll_to: "features"}) -%>
        </div>
    </div>
    <div class="c-second-section__skewed"></div>
</section>
