<section class="c-timeline-section">
    <div class="o-container">
        <div class="c-title c-title--secondary">
            <h2>
            OVR Timeline - What's next
            </h2>
        </div>
    </div>
    <div class="o-container-rel">
      <div class="c-story__line">

      </div>
      <div class="c-stories-dots__container">


      <div class="c-services-dot__container" data-index=0>
      <div class="c-services-dot__dot ">Info 1</div>
      <div class="c-services-dot__title"><h3>Project Start</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-case__copy">OVR è una piattaforma che crea un mondo virtuale condiviso che comunica direttamente con l’ambiente fisico circostante.</div>
      </div>
      </div>
      <div class="c-services-dot__container" data-index=1>
      <div class="c-services-dot__dot ">Info 1</div>
      <div class="c-services-dot__title"><h3>development phase start</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-case__copy">OVR è una piattaforma che crea un mondo virtuale condiviso che comunica direttamente con l’ambiente fisico circostante.</div>
      </div>
      </div>
      <div class="c-services-dot__container" data-index=2>
      <div class="c-services-dot__dot ">Info 1</div>
      <div class="c-services-dot__title"><h3>Info 2</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-case__copy">OVR è una piattaforma che crea un mondo virtuale condiviso che comunica direttamente con l’ambiente fisico circostante.</div>
      </div>
      </div>
      <div class="c-services-dot__container" data-index=3>
      <div class="c-services-dot__dot ">Info 1</div>
      <div class="c-services-dot__title"><h3>Info 2</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-case__copy">OVR è una piattaforma che crea un mondo virtuale condiviso che comunica direttamente con l’ambiente fisico circostante.</div>
      </div>
      </div>


      </div>
    </div>
</section>

