<section class="c-team-section">
    <div class="o-container">
        <div class="c-title c-title--secondary">
            <h2>
            Our Team
            </h2>
        </div>
        <div class="c-hex-team__holder">
            <div class="hex-container">
                <div class="hex-grid">
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-12.png');">
                                <div class="-inner">
                                    <h3>Davide Cuttini</h3>
                                    <p>CEO</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                            <div class="c-hover-content">
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-06.png');">
                                <div class="-inner">
                                    <h3>Mattia Crespi</h3>
                                    <p>CSO</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                
                </div>
                <div class="hex-grid">
                <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-08.png');">
                                <div class="-inner">
                                    <h3>Marco Antonelli</h3>
                                    <p>CTO</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-04.png');">
                                <div class="-inner">
                                    <h3>Marco Da Rin Bianco</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                            <div class="c-hover-content">
                            CMO
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-05.png');">
                                <div class="-inner">
                                    <h3>Angelica Bordon</h3>
                                    <p>Digital Artist</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="-hex">
                    <div class="-hex-wrap">
                        <div class="-card -front" style="background-image: url('img/team/01-07.png');">
                            <div class="-inner">
                                <h3>Davide Carlo</h3>
                                <p>AR Developer</p>
                            </div>
                            <div class="-clip -left"></div>
                            <div class="-clip -right"></div>
                        </div>
                    </div>
                </a>  
                <a href="#" class="-hex">
                    <div class="-hex-wrap">
                        <div class="-card -front" style="background-image: url('img/team/01-02.png');">
                            <div class="-inner">
                                <h3>Gianluca Chiap</h3>
                                <p>Smart Contracts Developer</p>
                            </div>
                            <div class="-clip -left"></div>
                            <div class="-clip -right"></div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="hex-grid">

                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-10.png');">
                                <div class="-inner">
                                    <h3>Jacopo Ranalli</h3>
                                    <p>Business Developer</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-11.png');">
                                <div class="-inner">
                                    <h3>Raffaele Bianchi</h3>
                                    <p>CFO</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="-hex">
                    <div class="-hex-wrap">
                        <div class="-card -front" style="background-image: url('img/team/01-01.png');">
                            <div class="-inner">
                                <h3>Antonio Dal Cin</h3>
                                <p>Web Developer</p>
                            </div>
                            <div class="-clip -left"></div>
                            <div class="-clip -right"></div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="hex-grid">

                    
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-03.png');">
                                <div class="-inner">
                                    <h3>Marco Toppano</h3>
                                    <p>Web Designer</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="-hex -hidden-hex" >
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-03.png');">
                                <div class="-inner">
                                    <h3>Marco Toppano</h3>
                                    <p>Web Designer</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="c-advisor-section">
    <div class="o-container">
        <div class="c-title c-title--secondary">
            <h2>
            Our Advisors
            </h2>
        </div>
        <div class="c-hex-team__holder">
            <div class="hex-container">
                <div class="hex-grid">
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/advisors/01.png');">
                                <div class="-inner">
                                    <h3>Diego Di Tommasom</h3>
                                    <p>Advisor</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                            <div class="c-hover-content">
                            </div>
                        </div>
                    </a>
                    <!--
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/ralph.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/paul.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="hex-grid">
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/mike.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/brandi.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a> -->
                </div>
                
            </div>
        </div>
    </div>
</section>