<section class="c-team-section">
    <div class="o-container">
        <div class="c-title c-title--secondary">
            <h2>
            Our <b>Team</b>
            </h2>
        </div>
        <div class="c-hex-team__holder">
            <div class="hex-container">
                <div class="hex-grid">
                    <a href="https://www.linkedin.com/in/cuttini/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-12.png');">
                                <div class="-inner">
                                    <h3>Davide Cuttini</h3>
                                    <p>CEO</p>
                                    <span class="c-linkedin-link">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                    </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                            <div class="c-hover-content">
                            </div>
                        </div>
                    </a>

                    <a href="https://www.linkedin.com/in/mattiacrespi/"  target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-06.png');">
                                <div class="-inner">
                                    <h3>Mattia Crespi</h3>
                                    <p>CSO</p>
                                    <span class="c-linkedin-link">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                    </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="hex-grid">
                <a href="https://www.linkedin.com/in/marco-antonelli/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-08.png');">
                                <div class="-inner">
                                    <h3>Marco Antonelli</h3>
                                    <p>CTO</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/marcodarinbianco/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-04.png');">
                                <div class="-inner">
                                    <h3>Marco Da Rin Bianco</h3>
                                    <p>Role</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                            <div class="c-hover-content">
                            CMO
                            </div>
                        </div>
                    </a>

                    <a href="https://www.linkedin.com/in/angelicabordon/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-05.png');">
                                <div class="-inner">
                                    <h3>Angelica Bordon</h3>
                                    <p>Digital Artist</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/carlo-davide-238b24156/" target="_blank" class="-hex">
                    <div class="-hex-wrap">
                        <div class="-card -front" style="background-image: url('img/team/01-07.png');">
                            <div class="-inner">
                                <h3>Davide Carlo</h3>
                                <p>AR Developer</p>
                                <span class="c-linkedin-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                              </span>
                            </div>
                            <div class="-clip -left"></div>
                            <div class="-clip -right"></div>
                        </div>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/gianluca-chiap/" target="_blank" class="-hex">
                    <div class="-hex-wrap">
                        <div class="-card -front" style="background-image: url('img/team/01-02.png');">
                            <div class="-inner">
                                <h3>Gianluca Chiap</h3>
                                <p>Smart Contracts Developer</p>
                                <span class="c-linkedin-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                              </span>
                            </div>
                            <div class="-clip -left"></div>
                            <div class="-clip -right"></div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="hex-grid">

                    <a href="https://www.linkedin.com/in/jacopo-ranalli/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-10.png');">
                                <div class="-inner">
                                    <h3>Jacopo Ranalli</h3>
                                    <p>Business Developer</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>

                    <a href="https://www.linkedin.com/in/bianchiraffaele/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-11.png');">
                                <div class="-inner">
                                    <h3>Raffaele Bianchi</h3>
                                    <p>CFO</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/antonio-dal-cin-866055a5/" target="_blank" class="-hex">
                    <div class="-hex-wrap">
                        <div class="-card -front" style="background-image: url('img/team/01-01.png');">
                            <div class="-inner">
                                <h3>Antonio Dal Cin</h3>
                                <p>Web Developer</p>
                                <span class="c-linkedin-link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                              </span>
                            </div>
                            <div class="-clip -left"></div>
                            <div class="-clip -right"></div>
                        </div>
                    </div>
                </a>
                </div>
                <div class="hex-grid">


                    <a href="https://www.linkedin.com/in/marco-toppano-207324172/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-03.png');">
                                <div class="-inner">
                                    <h3>Marco Toppano</h3>
                                    <p>Web Designer</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/fabrizio-barachino-894952b7/" target="_blank" class="-hex " >
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/team/01-13.png');">
                                <div class="-inner">
                                    <h3>Fabrizio Barachino</h3>
                                    <p>Digital strategist</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="c-advisor-section">
    <div class="o-container">
        <div class="c-title c-title--secondary">
            <h2>
            Our <b>Advisors</b>
            </h2>
        </div>
        <div class="c-hex-team__holder">
            <div class="hex-container">
                <div class="hex-grid">
                    <a href="https://www.linkedin.com/in/diego-di-tommaso-318938119/" target="_blank" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url('img/advisors/01.png');">
                                <div class="-inner">
                                    <h3>Diego Di Tommaso</h3>
                                    <p>Advisor</p>
                                    <span class="c-linkedin-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103.16 119.12"><defs><style>.cls-1{fill:#fff}</style></defs><g id="Livello_2" data-name="Livello 2"><g id="Livello_1-2" data-name="Livello 1"><path class="cls-1" d="M55.92 53.48v-.12l-.08.12z"/><path class="cls-1" d="M51.58 0L0 29.78v59.56l51.58 29.78 51.58-29.78V29.78zM37.41 84.11H25.5V48.28h11.91zm-6-40.72h-.08c-4 0-6.58-2.75-6.58-6.19s2.71-6.2 6.79-6.2 6.58 2.67 6.66 6.19-2.59 6.2-6.74 6.2zm48.96 40.72H68.46V64.94c0-4.82-1.72-8.1-6-8.1a6.52 6.52 0 0 0-6.11 4.36 8.15 8.15 0 0 0-.4 2.9v20H44s.16-32.47 0-35.83h11.92v5.08a11.83 11.83 0 0 1 10.74-5.92c7.84 0 13.72 5.12 13.72 16.13z"/></g></g></svg>
                                  </span>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                            <div class="c-hover-content">
                            </div>
                        </div>
                    </a>
                    <!--
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/ralph.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/paul.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="hex-grid">
                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/mike.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="-hex">
                        <div class="-hex-wrap">
                            <div class="-card -front" style="background-image: url(https://www.teamcolab.com/static/img/headshot/brandi.jpg);">
                                <div class="-inner">
                                    <h3>Name Surname</h3>
                                    <p>Role</p>
                                </div>
                                <div class="-clip -left"></div>
                                <div class="-clip -right"></div>
                            </div>
                        </div>
                    </a> -->
                </div>

            </div>
        </div>
    </div>
</section>
