<section class="c-technologies-section">

  <div class="c-hex-background c-technologies-section__hex-bg-1" smooth-parallax start-position-y="-0.5" end-position-y="0.3" container=".c-technologies-section">
    <svg id="Livello_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="c-hex-svg" viewBox="0 0 480.5 533.7"><style></style><linearGradient id="OR_SVGID_2_" gradientUnits="userSpaceOnUse" x1="301.049" y1="215.931" x2="497.735" y2="215.931"><stop offset="0" stop-color="#ec663c"/><stop offset="1" stop-color="#f9b426"/></linearGradient><path d="M469.9 100.4a56.18 56.18 0 0 0-23.9-19l-71.7-30L262 4.4C255 1.5 247.6 0 240.2 0v335.6l229.7 96.2c6.7-9.4 10.5-20.8 10.5-32.8V133.3c.1-12.1-3.8-23.5-10.5-32.9z" fill="url(#OR_SVGID_2_)"/><linearGradient id="OR_SVGID_4_" gradientUnits="userSpaceOnUse" y1="215.931" x2="240.241" y2="215.931"><stop offset="0" stop-color="#ec663c"/><stop offset="1" stop-color="#f9b426"/></linearGradient><path d="M218.5 4.4L40.7 78.9l-6.1 2.6c-9.8 4.1-18 10.7-23.9 19C3.9 109.8 0 121.2 0 133.3v265.8c0 12 3.8 23.4 10.5 32.8l229.7-96.2V0c-7.3 0-14.7 1.5-21.7 4.4z" fill="url(#OR_SVGID_4_)"/><linearGradient id="OR_SVGID_5_" gradientUnits="userSpaceOnUse" x1="253.497" y1="354.984" x2="223.497" y2="528.984"><stop offset="0" stop-color="#ec663c"/><stop offset="1" stop-color="#f9b426"/></linearGradient><path d="M240.2 335.6L10.5 431.9c5.9 8.2 14 14.9 23.7 19l148 63 36 15.3c7 3 14.5 4.5 22 4.5s15-1.5 22-4.5l25.1-10.7 158.9-67.7c9.7-4.1 17.8-10.8 23.7-19l-229.7-96.2z" fill="url(#OR_SVGID_5_)"/><linearGradient id="OR_SVGID_6_" gradientUnits="userSpaceOnUse" x1="240.242" y1="406.452" x2="240.242" y2="61.373"><stop offset="0" stop-color="#4e4d4c"/><stop offset=".124" stop-color="#5a5858"/><stop offset=".466" stop-color="#747273"/><stop offset=".769" stop-color="#848183"/><stop offset="1" stop-color="#8a8789"/></linearGradient><path d="M407.8 138.7c-4.3-6.3-10.3-11.5-17.4-14.6L338.1 101l-82-36.2c-5.1-2.2-10.5-3.4-15.9-3.4s-10.8 1.1-15.9 3.4L94.6 122.1l-4.5 2c-7.1 3.2-13.1 8.3-17.4 14.6-4.9 7.2-7.8 16-7.8 25.3v204.7c0 9.3 2.8 18 7.7 25.2 4.3 6.3 10.2 11.4 17.3 14.6l108 48.5 26.3 11.8c5.1 2.3 10.6 3.5 16.1 3.5s10.9-1.2 16.1-3.5l18.3-8.2 116-52.1c7.1-3.2 13-8.3 17.3-14.6 4.9-7.2 7.7-16 7.7-25.2V164c-.1-9.3-2.9-18.1-7.9-25.3z" opacity=".45" fill="url(#OR_SVGID_6_)"/><g><defs><path id="OR_SVGID_138_" d="M-696.3-3056h1920v6965h-1920z"/></defs><clipPath id="OR_SVGID_7_"><use xlink:href="#OR_SVGID_138_" overflow="visible"/></clipPath></g></svg>
  </div>
  <div class="o-container">
      <div class="o-half" >
      <span style="opacity: 0;">OVR</span>
        <div class="c-hex-background c-technologies-section__hex-bg-2" smooth-parallax start-position-y="-0.5" end-position-y="0.5" container=".c-technologies-section">
        <img class="c-technologies-hex-svg--img" src="img/phone.png">

          <svg class="c-hex-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
          </g>
        </svg>

        </div>
      </div>
      <div class="o-half">
        <div class="c-technologies-content">
          <div class="c-title c-title--secondary">
              <h2>
              OVR Geo Positioning<br> and Tracking

              </h2>
          </div>
          <div class="c-copy">
          The OVR app aims at making the user live various AR experiences depending on where he or she is. For this reason the app uses the GPS device data to track the user's geographical position.<br><br>
          This technology makes it possible to better compensate for the inaccuracy due to GPS geolocation technology, without additional tools, technologies or methodologies that help to correctly position the virtual elements in the world.
          </div>
          <%- include('../partials/hex-cta', {title: "Whitelist", subtitle: "Subscribe to our", scroll_to:'whitelist'}) -%>
        </div>
        <div class="c-technologies-hex-svg--container" >
          <svg class="c-technologies-hex-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                  <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
  </div>
  <div class="c-technologies-section__skewed"></div>

</section>