<section class="c-timeline-section">
    <div class="o-container">
        <div class="c-title c-title--secondary">
            <h2>
            OVR <b>Timeline</b>
            </h2>
        </div>
    </div>
    <div class="o-container-rel">
      <div class="c-story__line">
        <div class="c-story__single-line">
        </div>
      </div>
      <div class="c-stories-dots__container">


      <div class="c-services-dot__container" data-index=0>

      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <linearGradient id="blue-gradient" x2="1" y2="1">
                    <stop offset="0%" stop-color="#0081DD" />
                    <stop offset="100%" stop-color="#2FD7FF" />
                </linearGradient>
                <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
                <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
                    <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                    <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                    <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
                    <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
                    <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
                    <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                </filter>
            </defs>
            <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
                    <g id="Fill-1-Copy-6">
                        <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                        <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
                    </g>
                </g>
            </g>
         </svg>
        <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                    <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
                </g>
            </g>
        </svg>
      </div>

      <div class="c-services-dot__title">
      <div class="c-services-dot__name"></div>
      <h3>November 2018</h3></div>
      <div class="c-services-dot__copy-container">
        <div class="c-services-dot__copy c-copy">Website published and downloadable OVR mobile Demo</div>
      </div>
      </div>
      <div class="c-services-dot__container" data-index=1>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title">
      <div class="c-services-dot__name"></div>

      <h3>January 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">OVR Pre-Sale</div>
      </div>
      </div>
      <div class="c-services-dot__container" data-index=2>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
      <linearGradient id="blue-gradient" x2="1" y2="1">
        <stop offset="0%" stop-color="#0081DD" />
        <stop offset="100%" stop-color="#2FD7FF" />
    </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title">
        <div class="c-services-dot__name"></div>
        
      <h3>January 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">Worldwide roadshow and
          strategic partnerships</div>
      </div>
      </div>
      <div class="c-services-dot__container" data-index=3>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
            <linearGradient id="blue-gradient" x2="1" y2="1">
                <stop offset="0%" stop-color="#0081DD" />
                <stop offset="100%" stop-color="#2FD7FF" />
            </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>April 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">Initial Coin Offer</div>
      </div>
      </div>

      <div class="c-services-dot__container" data-index=4>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>May 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">Web3 features on OVR website to enable UI smart contracts calls</div>
      </div>
      </div>

      <div class="c-services-dot__container" data-index=5>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>May 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">OVR token allow users to buy OVRLands and resell them through the marketplace</div>
      </div>
      </div>

      <div class="c-services-dot__container" data-index=6>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>May 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">OVR token indexed in first exchanges</div>
      </div>
      </div>




      <div class="c-services-dot__container" data-index=7>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>September 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">MVP Beta testing with mobile clients iOS/Android</div>
      </div>
      </div>



      <div class="c-services-dot__container" data-index=8>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>November 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">OVR 1.0 available worldwide with iOS/Android clients published on app stores</div>
      </div>
      </div>


      <div class="c-services-dot__container" data-index=9>
      <div class="c-services-dot__dot ">
         <svg class="c-hex-svg" width="115px" height="128px" viewBox="0 0 115 128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <linearGradient id="blue-gradient" x2="1" y2="1">
              <stop offset="0%" stop-color="#0081DD" />
              <stop offset="100%" stop-color="#2FD7FF" />
          </linearGradient>
          <path d="M1010.6779,936.202689 C1010.35361,935.747222 1009.9985,935.313865 1009.61498,934.905714 C1009.42333,934.701638 1009.22446,934.503974 1009.01883,934.312943 C1008.40192,933.739851 1007.72338,933.22734 1006.99131,932.787129 C1006.62505,932.566913 1006.24547,932.364606 1005.85321,932.181756 C1005.72253,932.120953 1005.59032,932.061919 1005.45679,932.005539 L989.793025,925.367218 L986.365825,923.914809 L965.248868,914.965546 C963.729868,914.321701 962.114934,914 960.5,914 C958.885066,914 957.270132,914.321701 955.750914,914.965546 L916.886508,931.436205 L915.887828,931.859391 L915.543206,932.005539 C915.446398,932.046442 915.351119,932.089999 915.255621,932.133335 C913.378452,932.98634 911.783185,934.280221 910.57122,935.86529 C910.486212,935.976503 910.403171,936.088822 910.322096,936.202689 C908.843524,938.277496 908,940.807328 908,943.476453 L908,1002.23899 C908,1004.89551 908.835876,1007.41473 910.30221,1009.48467 C911.58782,1011.29947 913.358128,1012.7689 915.476118,1013.68138 L947.817413,1027.61624 L955.683825,1031.00571 C957.222492,1031.66857 958.861246,1032 960.5,1032 C961.683994,1032 962.867332,1031.82445 964.013301,1031.47842 C964.453857,1031.34554 964.889168,1031.18967 965.316175,1031.00571 L965.911013,1030.74946 L970.791654,1028.64635 L1005.52388,1013.68138 C1007.64165,1012.7689 1009.41218,1011.29947 1010.69801,1009.48467 C1012.16434,1007.41473 1013,1004.89551 1013,1002.23899 L1013,943.476453 C1013,940.807549 1012.15648,938.277496 1010.6779,936.202689" id="path-1"></path>
          <filter x="-7.1%" y="-4.7%" width="114.3%" height="112.7%" filterUnits="objectBoundingBox" id="filter-2">
              <feMorphology radius="0.5" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
              <feMorphology radius="1" operator="erode" in="SourceAlpha" result="shadowInner"></feMorphology>
              <feOffset dx="0" dy="2" in="shadowInner" result="shadowInner"></feOffset>
              <feComposite in="shadowOffsetOuter1" in2="shadowInner" operator="out" result="shadowOffsetOuter1"></feComposite>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
          </filter>
      </defs>
      <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="OVR---Homepage" transform="translate(-903.000000, -911.000000)">
              <g id="Fill-1-Copy-6">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                  <use stroke="#FFFFFF" stroke-width="1" xlink:href="#path-1"></use>
              </g>
          </g>
      </g>
      </svg>
      <svg class="c-hex-internal-svg" width="1531px" height="1821px" viewBox="0 0 1531 1821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="OVR" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="OVR---Homepage" transform="translate(-195.000000, -3475.000000)" fill="#FFFFFF">
                <path d="M1692.14163,3817.63642 C1687.41305,3810.60756 1682.2352,3803.9199 1676.64312,3797.62123 C1673.84868,3794.47189 1670.94908,3791.4215 1667.9507,3788.47347 C1658.95558,3779.62939 1649.0619,3771.72022 1638.38756,3764.9268 C1633.0472,3761.52838 1627.51248,3758.40633 1621.79294,3755.58455 C1619.88749,3754.64624 1617.95974,3753.73521 1616.01287,3752.86514 L1387.62021,3650.42122 L1337.64836,3628.00735 L1029.74302,3489.9005 C1007.59455,3479.96456 984.047277,3475 960.5,3475 C936.952723,3475 913.405445,3479.96456 891.253798,3489.9005 L324.573753,3744.07906 L310.01204,3750.60976 L304.987134,3752.86514 C303.575572,3753.49637 302.186314,3754.16855 300.79387,3754.83731 C273.422949,3768.00107 250.162445,3787.96849 232.490834,3812.4296 C231.251336,3814.14587 230.040515,3815.8792 228.858372,3817.63642 C207.29939,3849.65526 195,3888.69613 195,3929.88661 L195,4836.72205 C195,4877.71805 207.187867,4916.59514 228.568412,4948.53892 C247.313829,4976.54517 273.126616,4999.22177 304.008918,5013.30338 L775.575807,5228.34894 L890.275583,5280.65593 C912.710817,5290.88531 936.605408,5296 960.5,5296 C977.763755,5296 995.017951,5293.29082 1011.72728,5287.95093 C1018.151,5285.90028 1024.49825,5283.49477 1030.72442,5280.65593 L1039.39772,5276.70135 L1110.56211,5244.24576 L1616.99108,5013.30338 C1647.8702,4999.22177 1673.68617,4976.54517 1692.43477,4948.53892 C1713.81532,4916.59514 1726,4877.71805 1726,4836.72205 L1726,3929.88661 C1726,3888.69955 1713.70061,3849.65526 1692.14163,3817.63642" id="Fill-1-Copy-7"></path>
            </g>
        </g>
        </svg>
      </div>
      <div class="c-services-dot__title"><h3>November 2019</h3></div>
      <div class="c-services-dot__copy-container">
          <div class="c-services-dot__copy c-copy">Global Marketing campaign
          with target user base of 10M</div>
      </div>
      </div>


      </div>
    </div>
</section>

