
.c-hex-button{
  width: 125px;
  overflow: visible;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  display:inline-block;
  position: relative;
  text-transform: uppercase;
  float:left;
  font-size: 12px;
  background: none;
  border: 0;
  cursor: pointer;
  
  &:focus{
    outline: none;
  }
  .c-hex-svg path{

     transition: all .35s ease;
  }
  .c-hex-button__icon{
    height: 14px;
    margin-right: 5px;
    margin-bottom: -2px;

    fill: #fff;
    path{
      fill: #fff;
    }
  }
  &:hover{
    .c-hex-svg path{
      opacity:1;
      fill: url('#blue-gradient');
      stroke: transparent;
      transform: scale(1);
    }
  }
}

.c-hex-button_svg{
  display:inline-block;
  width:100%;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: -1;
  overflow: visible;
  svg.c-hex-svg {
   width:100%;
   height: 100%;

  }
  .c-hex-svg path{
    max-height: 100%;
    stroke: #fff;
    stroke-width: 2px;
    // transform: scale(0);
    // transform-origin: 150% 50%;
  }
}

// VARIATIONS
.c-hex-button--big{
  width: 145px;
  height: 55px;
  line-height: 55px;
}
.c-hex-button--blue{
  .c-hex-svg path{
    fill: url('#blue-gradient');
    stroke: url('#blue-gradient');
  }
}

.c-hex-button--violet, .js-feature-tab-button {
  .c-hex-svg path{
    fill: url('#violet-gradient');
    stroke: url('#violet-gradient');

  }
  &:hover .c-hex-svg path{
    fill: url('#violet-gradient');
    stroke: url('#violet-gradient');
    opacity: 0.8;
  }
}


.c-hex-button--filled{
  &.c-hex-button--blue .c-hex-svg path{
    fill: url('#blue-gradient');
    stroke:url('#blue-gradient');
    // transform: scale(1);
  }
  &.c-hex-button--blue:hover path{
    opacity: 0.8;
  }
}

.c-hex-button--no-outline {
  .c-hex-svg{
    stroke-width: 0px;
    opacity: 0;
  }
  &:hover .c-hex-svg{
    opacity: 1;
  }
}


.js-feature-tab-button{
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
  .c-hex-svg path{
    stroke: #ccc;
    stroke-width: 2px;
    fill: transparent;
  }
}

.js-button--active{
  opacity: 1!important;
  .c-hex-svg path{
    fill: url('#violet-gradient');
    stroke: url('#violet-gradient');
    opacity: 1;
  }

}
