.c-fixed-countdown{
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    color: #fff;
    transition: all 350ms ease-in-out;
    .c-countdown_container{
        float: right;
    }
    span{
        margin-right: 20px;
    }
    .o-container{
      background-color: $ovr_deep_purple;
      position: relative;
      transition: background 350ms ease-in-out;
    }
    .c-curved{
      position: absolute;
      path{
        transition: all 350ms ease-in-out;
      }
    }
    .c-curved-r{
      right: -81px;
      max-height: 50px;
      max-width: 82px;
      top: 0px;
    }
    .c-curved-l{
      left: -81px;
      max-height: 50px;
      max-width: 82px;
      top: 0px;
    }
    .c-hex-button_svg{
      z-index:0;
    }
}


.c-countdown_button{
    float: right;
    margin-top: 5px;
    margin-left: 25px;
}


.c-fixed-countdown--inverted{
  color: $ovr_deep_purple!important;
  *{
    color: $ovr_deep_purple!important;
  }
  background-color: #fff!important;

  .o-container{
    background-color: #fff;
  }
  .c-curved path{
    fill: #fff;
  }
  .c-hex-button{
    color: $ovr_deep_purple;
  }
  .c-hex-button_svg .c-hex-svg path{
    stroke: $ovr_deep_purple;
  }
}