.c-fixed-countdown{
    width: 100%;
    height: 50px;
    font-size: 14px;
    background-color: $ovr_deep_purple;
    line-height: 50px;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    color: #fff;
    .c-countdown_container{
        float: right;

    }

    span{
        margin-right: 20px;
    }
}


.c-countdown_button{
    float: right;
    margin-top: 5px;
    margin-left: 25px;
}