.c-timeline-section{
    padding-top: 100px;
    padding-bottom: 150px;

    @include cf();
    background-color: #fff;
    .c-title{
        text-align: center;
    }
}
.c-hex-team__holder{
    @include cf();
}



.c-stories-dots__container{
  @include cf();
  z-index: 100;
  top: 110px;
  width: 100%;
  position: absolute!important;
  .c-services-dot__dot{
    color: #fff;
    line-height: 40px;
  }
  .flickity-viewport{
    overflow: visible;
  }
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}


.c-services-dot__container{
  @include column(2/7);
  @include cf();
  display: block;
  z-index: 100;
  position: relative;
  padding-left: 30px;
  transition: all .25 ease-in-out;

  &.is-selected{
    .c-services-dot__dot{
      transform: translateY(0px) translateX(0px) scale(2.5);
      img{
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
        width: 130px;
      }

    }
    .c-services-dot__copy-container{
      max-height: 500px;
      overflow: visible;
    }
    .c-services-dot__copy{
      height: auto;
      opacity: 1;
      transform: translateX(0px) translateY(20px);
    }
    .c-services-dot__cta, .c-services-dot__title{
      height: auto;
      opacity: 1;
      transform: translateX(0px) translateY(20px);
    }
    .c-hex-internal-svg{
      transform: scale(1);
    }
  }
}

.o-container-rel{
  position: relative;
  margin-top: 50px;
  @include cf();
}
.c-services-cit-container{

}

.c-services-dot__name{
  text-align:center;
  position: absolute;
  width: 100%;
  top: -120px;
  transition: all 350ms ease-in-out;
  .is-selected &{
      top: -160px;
  }
}

.c-story__line,.c-services__canvas{
  height: 300px;
  width:100%;
  position: relative;
  top: 0px;
  .c-story__single-line{
      position: absolute;
      height: 5px;
      width: 150%;
      left: -25%;
      top: 39%;
        background-image: linear-gradient(to left, #2fd7ff, #00c2fa, #00adf3, #0098ea, #0081dd);

  }
}




.c-services-dot__dot{
  width: 40px;
  height: 40px;
  position: relative;
  left: calc( 50% - 20px );
  top: -10px;
  text-align: center;
  transition: all .25s ease-in-out;
  line-height: 50px;
  .c-hex-svg{
    max-width: 100%;
    max-height: 100%;
  }
  .c-hex-internal-svg{
    width: 60%;
    height: 60%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 20%;
    transition: all .25s ease-in-out;
    transform: scale(0);
      fill: #fff;
      path, g{
      fill: #fff;
    }
  }
}

.c-services-dots__container{
  @include cf();
  z-index: 100;
  top: 0;
  text-align: center;
  position: absolute!important;
  h3{
    text-align: center;
  }
}

.c-services-dot__title{
    transform: translateX(0px) translateY(0px);
    transition: all .25s ease-in-out;
  h3{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  } 
}
// .o-container-fluid-stronger{
//   width: 75%;
//   margin-left: 15%;
// }

.c-services-dot__copy-container{
  overflow: hidden;
  max-height: 5px;
  transition: all .25s ease-in-out;
  text-align: center;
}

.c-services-dot__title{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.c-services-dot__copy{
  display: block;
  opacity: 0;
  transition: all .25s ease-in-out .30s;
  transform: translateY(-10px);
}

.c-services-dot__cta{
  margin-bottom: -8px;
  margin-top: 15px;
  display: block;
  opacity: 0;
  transition: all .25s ease-in-out .35s;
  transform: translateX(-10px);
}

.c-continuum{
  margin-left: 30vw;
}





@media screen and ( max-width: 1000px ) {
  .c-story__line, .c-services__canvas {
    height: 300px;
    overflow: hidden;
    top: 0px;
    left: -50px;
    width: 110%;    
  }

  .c-stories-dots__container{
    @include column(1/1);
    top: 100px;
  }

}


@media screen and ( max-width: 500px ) {
  .c-story__line, .c-services__canvas {
    height: 400px;
    overflow: hidden;
    top: -50px;
    left: -10%;
    width: 120%;
  }

  .c-services-dot__container{
    @include span(1/1);
    margin: 0px;
    padding: 0px;
  }


}