.c-technologies-section{
    background-color: #ef631a;
    @include cf();
    height: auto;
    .o-container{
        padding-top: 600px;
        position: relative;
        .o-half{
            padding-right: 100px;
            position: relative;
        }
        .c-copy{
            margin-top: 50px;
        }
    }
}
.c-technologies-section__hex-bg-1{
    height: 650px;
    width: 650px;
    right: -450px;
    top: 400px;
    opacity: 6;
    z-index: 4;

    .c-hex-svg{
    // opacity: 0.1;
    }
}

.c-technologies-section__hex-bg-2{
    height: auto;
    width: 60%;
    left: 0px;
    top: 0px;
    path{
        fill: #ef631a;
        stroke:#ef631a;
    }
    .c-hex-button_svg .c-hex-svg path{
        stroke-width: 2px;
        stroke: #fff!important;
    }
    .c-hex-button{
        &:hover{
            color: #ef631a;
            svg path{
                fill: #fff!important;
            }
        }
    }
    .c-hex-svg{
        position: absolute;
        pointer-events: none;
        z-index: 2;

    }
    #c-map-hex{
        z-index: 1;
        position: relative;
    }
    .c-hex-button{
        margin-left: calc(50% - 73px);
    }
}

.c-technologies-content{
    position:relative;
    z-index: 3;
}

.c-technologies-section__skewed{
    position: absolute;
    width: 140vw;
    height: 800px;
    left: -10vw;
    background: #fff;
    bottom: -300px;
    transform: rotate(-15deg);
    z-index:1;
    background-color: #ef631a;
}

// .c-technologies-section__skewed {
//     /* position: absolute; */
//     width: 140vw;
//     /* height: 800px; */
//     left: -10vw;
//     background: #fff;
//     /* bottom: -300px; */
//     -ms-transform: rotate(-15deg);
//     /* transform: rotate(-15deg); */
//     z-index: 1;
//     background-color: #ef631a;
// }

.c-technologies-hex-svg--container{
    width: 80vw;
    left: -20%;
    top: -150%;
    z-index: 2;
    position: absolute;
}

.c-technologies-hex-svg--img{
    position: absolute;
    left: 15%;
    width: 70%;
    top: calc( 50% - 100px );
    height: auto;
    z-index: 3;
}

#c-hex-map-info{
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient($ovr_blue, $ovr_light_blue);
    font-size: 11px;
    margin-top: -35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    z-index: 9;
    position: relative;
    width: 90%;
    margin-left: 5%;
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl{
    border-radius: 30px;
    
}
.mapboxgl-ctrl-top-right{
    width: 100%;

}
.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left{
    bottom: 70px!important;
}
.mapboxgl-ctrl-geocoder{
    width: 60%;
    left: -20%;
    top: 55px;
}

#c-hex-map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-right > div:nth-child(2){
    margin-top:25px;
}
a.mapboxgl-ctrl-logo{
    margin-left: 4px;
}

.fullscreen-map{
    #c-hex-map > div.mapboxgl-control-container > div.mapboxgl-ctrl-top-right > div:nth-child(2){
        margin-top: 20px!important;
    }
    .mapboxgl-ctrl-geocoder{
        left: 0px;
        top: 0px;
    }
    .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left{
        bottom: 0px!important;
    }

    #c-hex-map-info{
        position: absolute;
        z-index: 999999999;
        display: block;
        bottom: 50px;
    }
}

#c-hex-map-info--fixed{
    z-index: 999999999;
    position: fixed;
    bottom: 50px;
}


#remover {
    margin: 0 auto;
    background: url('/img/map-button.jpg');
    background-size: 100%;
    color: #fff;
    font-size: 11px;
    padding: 0.2em;
    border: 2px solid #9c9fa0;
    border-radius: 20px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    position: absolute;
    left: 0.7em;
    top: 115px;
    padding: 2px 10px;
    height: 21px;
    &.on{
        background-position: bottom;
    }
}
#remover:hover {
    background-color:#ccc ;
}